.tasker {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
}

@media screen and (max-width: 550px) {
  .tasker {
    position: absolute;
    bottom: 70px;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .tasker {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 10;
    width: 100%;
  }
}
