.header {
  width: 100%;
  box-shadow: 0px 1px 8px 0px rgba(34, 60, 80, 0.2);
  z-index: 999;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navigation {
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
}

.logo {
  width: 40px;
  margin-right: 10px;
}

.header__logo {
  color: #7716cc;
  display: flex;
  align-items: center;
  position: relative;
}

.header__logo::before {
  content: "Manage your task";
  position: absolute;
  bottom: 5px;
  left: 130px;
  font-size: 12px;
  color: #8d8d8d;
  width: 110px;
}
